{% load static %}
<html>

<head>
    <script src="{% static 'initial/js/d3.js' %}"></script>
    <script src="{% static 'initial/js/three.js' %}"></script>
    <script src="{% static 'initial/js/AxisCanvas.js' %}"></script>
    <script src="{% static 'initial/js/WebGL.js' %}"></script>
    <script src="{% static 'initial/js/WUtil.js' %}"></script>
    <script>
        function getValue() {
            http_get("{% url 'initial:getvalue' %}", draw)
        }
    </script>
     <link href="{% static 'initial/css/sistema.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Winkel Monitor</h1>

    <div class="arrange-horizontally">
        <div class="d4 bar" style="background-color: green">
            <h4>Pitch - Y</h4>
            <p id="pitch">12</p>
        </div>
        <div class="d4 bar" style="background-color: red">
            <h4>Roll - X</h4>
            <p id="roll">13</p>
        </div>
        <div class="d4 bar" style="background-color: blue">
            <h4>Yaw - Z</h4>
            <p id="yaw">14</p>
        </div>
    </div>
    <div id="cont" class="arrange-horizontally">
        <div id="svg"></div>
        <div id="canvas"></div>
    </div>

    <script src="{% static 'initial/js/index.js' %}"></script>
</body>

</html>