.arrange-horizontally>* {
    display: inline-block;
    text-align: center;
}

.arrange-vertically>* {
    display: block;
}

.d1 {
    width: 8%;
}

.d2 {
    width: 16%;
}

.d3 {
    width: 24%;
}

.d4 {
    width: 33%;
}

.d5 {
    width: 41%;
}

.d6 {
    width: 49%;
}

.d7 {
    width: 58%;
}

.d8 {
    width: 66%;
}

.d9 {
    width: 74%;
}

.d10 {
    width: 83%;
}

.d11 {
    width: 91%;
}

.d12 {
    width: 99%;
}

.bar {
    height: 10px;
}

#cont {
    text-align: center;
}

#canvas {
    height: 600px;
    width: 800px;
}

#svg {
    height: 600px;
    width: 800px;
    z-index: 200;
    position: absolute;
}